div.FAQ{
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: start;
    gap: 3%;
    padding-top: 10%;
    box-sizing: border-box;
    padding-bottom: 5%;

    div.left{
        width: 100%;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: start;
        font-family: poppins;
        padding-left: 3%;
        padding-bottom: 5%;
        box-sizing: border-box;
        div.top{
         font-weight: 600;
         font-size: 38px;
         line-height: 56px;
         color: #282938;
         display: flex;
         flex-flow: column nowrap;
        }
        div.bottom{
            a{
                text-decoration: none;
                font-weight: 500;
                font-size: 18px;
                line-height: 32px;
                align-items: center;
                color: #2405F2;
            }
        }
    }
    
    div.right{
        width: 100%;
        div.accordion{
            box-sizing: border-box;
        }
    }
    
}

div.accordion-body{
    padding-bottom: 4%;
    box-sizing: border-box;
}


