div.features{
    width: 100%;
    background-color: #F4F6FC;
    display: flex;
    flex-flow: column nowrap;
    justify-content: start;
    align-items: center;
    padding-bottom: 13%;
    box-sizing: border-box;
    div.header{
        width: 39%;
        display: flex;
        flex-flow: column nowrap;
        justify-content: start;
        align-items: center;
        font-family: poppins;
        padding-top: 9%;
        padding-bottom: 1.5%;
        box-sizing: border-box;
        div.little{
            width: 66.5%;
            text-align: center;
            font-weight: 500;
            font-size: 16px;
            line-height: 28px;
            color: #282938;
        }
        div.tittle{
            width: 100%;
            font-weight: 600;
            font-size: 48px;
            line-height: 64px;
            text-align: center;
            color: #282938;
        }
    }

    div.cards{
        width: 85%;
        display: grid;
        grid-template-columns: repeat(3,auto);
        grid-template-rows: repeat(2,auto);
        column-gap: 2.7%;
        row-gap: 3.6%;
        div.card{
            width: 100%;
            background-color: white;
            display: flex;
            flex-flow: column nowrap;
            justify-content: start;
            align-items: start;
            font-family: poppins;
            padding-top: 10%;
            padding-bottom: 10%;
            padding-left: 10%;
            padding-right: 10%;
            box-sizing: border-box;
            div.head{
                width: 100%;
                padding-top: 8%;
                padding-bottom: 4%;
                box-sizing: border-box;
                font-weight: 400;
                font-size: 24px;
                line-height: 36px;
                color: #282938;
            }
            div.text{
                font-weight: 400;
                font-size: 16px;
                line-height: 28px;
                color: #282938;
            }
        }
    }
}